[package]
name = "worldtimeapi"
version = "0.5.0"
edition = "2021"
authors = ["Allister Isaiah Harvey <a.i.harvey@icloud.com"]
description = "A simple API for getting the current time in different timezones."
license = "MIT"
readme = "README.md"
repository = "https://github.com/a-isaiahharvey/worldtimeapi-rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.196", features = ["derive"] }
serde_json = { version = "1.0.109" }
reqwest = { version = "0.11.23", features = ["json"] }
chrono = { version = "0.4.31", features = ["serde"] }
time = "0.3.32"

[dev-dependencies]
tokio = { version = "1.35.1", features = ["macros", "rt-multi-thread"] }
